<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wiskyapilocal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wiskyapilocal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wiskyapilocal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wiskyapilocal</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;Persist Security Info=True;User ID=sa;Password=zaQ@123456;Application Name=EntityFramework" Name="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;Persist Security Info=True;User ID=sa;Password=zaQ@123456;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;User ID=sa;Password=zaq@123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;User ID=sa;pwd=zaq@123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IdentityEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;Persist Security Info=True;User ID=sa;Password=zaQ@123456;Application Name=EntityFramework" Name="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;Persist Security Info=True;User ID=sa;Password=zaQ@123456;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;User ID=sa;Password=zaQ@123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IdentityEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=192.168.0.254;Database=Skyplus-saigonvat;User Id=sa;Password=zaQ@123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SkyUpEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;Persist Security Info=True;User ID=sa;Password=zaQ@123456;Application Name=EntityFramework" Name="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;Persist Security Info=True;User ID=sa;Password=zaQ@123456;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;Persist Security Info=True;User ID=sa;Password=zaQ@123456;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SkyUpEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Entities.SkyUpEntities.csdl|res://*/Models.Entities.SkyUpEntities.ssdl|res://*/Models.Entities.SkyUpEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.254;initial catalog=Skyplus-saigonvat;persist security info=True;user id=sa;password=zaQ@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HmsEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;Persist Security Info=True;User ID=sa;Password=zaQ@123456;Application Name=EntityFramework" Name="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;Persist Security Info=True;User ID=sa;Password=zaQ@123456;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;Persist Security Info=True;User ID=sa;Password=zaQ@123456;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HmsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Entities.HmsEntities.csdl|res://*/Models.Entities.HmsEntities.ssdl|res://*/Models.Entities.HmsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.254;initial catalog=Skyplus-saigonvat;persist security info=True;user id=sa;password=zaQ@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;Persist Security Info=True;User ID=sa;Password=zaQ@123456;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HmsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Entities.HmsEntities.csdl|res://*/Models.Entities.HmsEntities.ssdl|res://*/Models.Entities.HmsEntities.msl;provider=System.Data.SqlClient;provider connection string="data source=192.168.0.254;initial catalog=Skyplus-saigonvat;persist security info=True;user id=sa;password=zaQ@123456;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityEntities-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.254;Initial Catalog=Skyplus-saigonvat;Persist Security Info=True;User ID=sa;Password=zaQ@123456;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SkyUpEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Entities.SkyUpEntities.csdl|res://*/Models.Entities.SkyUpEntities.ssdl|res://*/Models.Entities.SkyUpEntities.msl;provider=System.Data.SqlClient;provider connection string="data source=192.168.0.254;initial catalog=Skyplus-saigonvat;persist security info=True;user id=sa;password=zaQ@123456;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>